In [32]:
import pandas as pd

sales_df = pd.read_csv("Sales.csv")

print(sales_df)
# print(sales_df['Sales'].groupby(sales_df["Country"]).mean())
# # or
# print(sales_df.loc[:, 'Sales'].groupby(sales_df.loc[:, "Country"]).mean())


# print(sales_df.groupby(sales_df["Country"]).mean())
# # or
# print(sales_df.groupby(sales_df.loc[:, "Country"]).mean())

# # Note the index names.

# print(type(sales_df.loc[:, 'Sales'].groupby(sales_df.loc[:, "Country"]).mean()))
# PS1 = sales_df.loc[:, 'Sales'].groupby(sales_df.loc[:, "Country"]).mean()
# print(PS1.index.name)  # Index name is Country

#print(type(sales_df["Country"]))
# print(type(sales_df.loc[:, 'Sales']))

# print(type(sales_df['Sales'].groupby(sales_df["Country"]).mean()))
print(type(sales_df['Sales'].groupby(sales_df["Country"])))

# print(sales_df['Sales'].groupby(sales_df["Country"]).mean().index.name)

# for item in sales_df['Sales'].groupby(sales_df["Country"]):
#     print((item[0]))

     Country Region  Sales
0   Scotland  North    100
1   Scotland  South    200
2   Scotland   East    250
3   Scotland   West    225
4    England  North    170
5    England  South    450
6    England   East    600
7    England   West    220
8      Wales  North    340
9      Wales  South    400
10     Wales   East    270
11     Wales   West    420
12   Ireland  North    540
13   Ireland  South    320
14   Ireland   East    650
15   Ireland   West    240
<class 'pandas.core.groupby.generic.SeriesGroupBy'>
England
Ireland
Scotland
Wales

In [74]:
import pandas as pd

sales2_df = pd.read_csv("Sales2.csv")

# for item in sales2_df.loc[:,['Sales','Age']].groupby([sales_df.loc[:, "Region"], sales_df.loc[:, "Country"]]):
#     print(item)
    

    
    # for item in sales_df['Sales'].groupby([sales_df["Region"], sales_df["Country"]]):
#     print(item)

#print(sales2_df[['Sales','Age']].groupby([sales_df["Region"], sales_df["Country"]]).mean())

# or

# print(sales2_df.loc[:,['Sales','Age']].groupby([sales_df.loc[:, "Region"], sales_df.loc[:, "Country"]]).mean())


# print(sales2_df[['Sales','Age']].groupby(sales_df.loc[:, "Country"]).mean())

# # or

# print(sales2_df.loc[:,['Sales','Age']].groupby(sales_df.loc[:, "Country"]).mean())




#print(sales2_df)


# sales2_df = pd.read_csv("Sales2.csv", index_col = "Country")

# print(sales2_df[['Sales','Age']].groupby('Country').mean())
#  # or
# print(sales2_df.loc[:,['Sales','Age']].groupby('Country').mean())

# print(type(sales2_df.loc[:,['Sales','Age']].groupby('Country').mean()))

# for item in sales2_df.loc[:,['Sales','Age']].groupby("Country"):
#     print(item[1])


# for item in sales2_df.loc[:,['Sales','Age']].groupby(sales_df.loc[:, "Country"]):
#     print(item[1])

# print(sales2_df[['Sales','Age']].groupby('Country').mean())
#  # or
# print(sales2_df.loc[:,['Sales','Age']].groupby('Country').mean())

(('East', 'England'),    Sales  Age
6    600   42)
(('East', 'Ireland'),     Sales  Age
14    650   26)
(('East', 'Scotland'),    Sales  Age
2    250   54)
(('East', 'Wales'),     Sales  Age
10    270   53)
(('North', 'England'),    Sales  Age
4    170   52)
(('North', 'Ireland'),     Sales  Age
12    540   39)
(('North', 'Scotland'),    Sales  Age
0    100   45)
(('North', 'Wales'),    Sales  Age
8    340   23)
(('South', 'England'),    Sales  Age
5    450   35)
(('South', 'Ireland'),     Sales  Age
13    320   27)
(('South', 'Scotland'),    Sales  Age
1    200   34)
(('South', 'Wales'),    Sales  Age
9    400   22)
(('West', 'England'),    Sales  Age
7    220   31)
(('West', 'Ireland'),     Sales  Age
15    240   44)
(('West', 'Scotland'),    Sales  Age
3    225   23)
(('West', 'Wales'),     Sales  Age
11    420   47)

In [56]:
# Sub-groups.  Country within Region.

print(sales_df['Sales'].groupby([sales_df["Region"], sales_df["Country"]]).mean())

# or

print(sales_df.loc[:, 'Sales'].groupby([sales_df.loc[:, "Region"], sales_df.loc[:, "Country"]]).mean())


# Index name of SeriesGroupBy object  ['Region', 'Country']

print(sales_df.loc[:, 'Sales'].groupby([sales_df.loc[:, "Region"], sales_df.loc[:, "Country"]]).mean().index.names)

Region  Country
East    England     600.0
        Ireland     650.0
        Scotland    250.0
        Wales       270.0
North   England     170.0
        Ireland     540.0
        Scotland    100.0
        Wales       340.0
South   England     450.0
        Ireland     320.0
        Scotland    200.0
        Wales       400.0
West    England     220.0
        Ireland     240.0
        Scotland    225.0
        Wales       420.0
Name: Sales, dtype: float64
Region  Country
East    England     600.0
        Ireland     650.0
        Scotland    250.0
        Wales       270.0
North   England     170.0
        Ireland     540.0
        Scotland    100.0
        Wales       340.0
South   England     450.0
        Ireland     320.0
        Scotland    200.0
        Wales       400.0
West    England     220.0
        Ireland     240.0
        Scotland    225.0
        Wales       420.0
Name: Sales, dtype: float64
['Region', 'Country']

In [49]:
# Display only Sales column
salesds = sales_df['Sales'].groupby([sales_df["Region"], sales_df["Country"]]).mean()
print(salesds.index.names)

print(salesds.groupby('Country').mean())

# or if you like complex code:


print(sales_df['Sales'].groupby([sales_df["Region"], sales_df["Country"]]).mean().groupby('Country').mean())

['Region', 'Country']
Country
England     360.00
Ireland     437.50
Scotland    193.75
Wales       357.50
Name: Sales, dtype: float64
Country
England     360.00
Ireland     437.50
Scotland    193.75
Wales       357.50
Name: Sales, dtype: float64

         Region  Sales Manager  Age
Country
Scotland  North    100    John   45
Scotland  South    200    Paul   34
Scotland   East    250  George   54
Scotland   West    225   Ringo   23
England   North    170    Davy   52
England   South    450    Mike   35
England    East    600   Micky   42
England    West    220   Peter   31
Wales     North    340  Judith   23
Wales     South    400   Athol   22
Wales      East    270   Keith   53
Wales      West    420   Bruce   47
Ireland   North    540   Brian   39
Ireland   South    320  Dennis   27
Ireland    East    650    Mike   26
Ireland    West    240    Carl   44
           Sales    Age
Country
England   360.00  40.00
Ireland   437.50  34.00
Scotland  193.75  39.00
Wales     357.50  36.25

C:\Users\Ian\AppData\Local\Temp/ipykernel_29000/1376216167.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(sales2_df.groupby('Country').mean())

In [46]:
import pandas as pd

sales2_df = pd.read_csv("Sales2.csv", index_col = ["Country", "Region"])

print(sales2_df.loc[:,['Sales','Age']].groupby("Country").mean())

print(sales2_df.loc[:,['Sales','Age']].groupby("Region").mean())

print(sales2_df.loc[:,['Sales','Age']].groupby("Region").mean())










#print(sales2_df.loc[:,['Sales','Age']].groupby(["Region", "Country"]).mean())

           Sales    Age
Country
England   360.00  40.00
Ireland   437.50  34.00
Scotland  193.75  39.00
Wales     357.50  36.25
         Sales    Age
Region
East    442.50  43.75
North   287.50  39.75
South   342.50  29.50
West    276.25  36.25
    Sales    Age
0  442.50  43.75
1  287.50  39.75
2  342.50  29.50
3  276.25  36.25

In [94]:
import pandas as pd

sales3_df = pd.read_csv("Sales2.csv", index_col = "Country")

print(sales3_df.loc[:,['Sales','Age']].groupby([sales3_df.loc[:, "Region"], "Country"]).mean())

                 Sales   Age
Region Country
East   England   600.0  42.0
       Ireland   650.0  26.0
       Scotland  250.0  54.0
       Wales     270.0  53.0
North  England   170.0  52.0
       Ireland   540.0  39.0
       Scotland  100.0  45.0
       Wales     340.0  23.0
South  England   450.0  35.0
       Ireland   320.0  27.0
       Scotland  200.0  34.0
       Wales     400.0  22.0
West   England   220.0  31.0
       Ireland   240.0  44.0
       Scotland  225.0  23.0
       Wales     420.0  47.0

In [8]:
import pandas as pd

df_teams = pd.DataFrame([[10, 12, 14, 16, 18], [7, 8, 9, 10, 11], [14, 16, 3, 7, 4]],
                  index = [['Male', 'Male', 'Female'], ['A', 'B', 'A']],
                  columns = [['City', 'City', 'Utd', 'Utd', 'Rovers'], ['U18', 'Adult', 'U18', 'Adult', 'Adult']])



print(df_teams)


print(df_teams.groupby(level=0, axis="columns").mean())


print(df_teams.groupby(level=1, axis="columns").mean())

         City       Utd       Rovers
          U18 Adult U18 Adult  Adult
Male   A   10    12  14    16     18
       B    7     8   9    10     11
Female A   14    16   3     7      4
          City  Rovers   Utd
Male   A  11.0    18.0  15.0
       B   7.5    11.0   9.5
Female A  15.0     4.0   5.0
              Adult   U18
Male   A  15.333333  12.0
       B   9.666667   8.0
Female A   9.000000   8.5

TypeError: You have to supply one of 'by' and 'level'

In [9]:
# To group by an index, we pass its name directly into groupby(). # [We can't use loc - that is for column names.]

import pandas as pd

sales_df = pd.read_csv("Sales2.csv", index_col = "Country")
print(sales_df)
print(type(sales_df))
print(sales_df.groupby("Country", sales_df.loc[:, "Region"]).size())

         Region  Sales Manager  Age
Country
Scotland  North    100    John   45
Scotland  South    200    Paul   34
Scotland   East    250  George   54
Scotland   West    225   Ringo   23
England   North    170    Davy   52
England   South    450    Mike   35
England    East    600   Micky   42
England    West    220   Peter   31
Wales     North    340  Judith   23
Wales     South    400   Athol   22
Wales      East    270   Keith   53
Wales      West    420   Bruce   47
Ireland   North    540   Brian   39
Ireland   South    320  Dennis   27
Ireland    East    650    Mike   26
Ireland    West    240    Carl   44
<class 'pandas.core.frame.DataFrame'>

TypeError: unhashable type: 'Series'

In [15]:
import pandas as pd

sales2_df = pd.read_csv("Sales2.csv", index_col = ["Country", "Region"])

print(sales2_df['Sales'].groupby("Country").size())
print(sales2_df['Sales'].groupby("Region").count())

Country
England     4
Ireland     4
Scotland    4
Wales       4
Name: Sales, dtype: int64
Region
East     4
North    4
South    4
West     4
Name: Sales, dtype: int64

In [68]:
print(sales2_df.groupby('Country').size())

Country
England     4
Ireland     4
Scotland    4
Wales       4
dtype: int64

In [84]:
# size() vs count()

import pandas as pd

ds1 = pd.Series([1,2,3,4, None,5,6, None,7] ,index = ['a', 'a', 'a', 'b', 'b', 'b', 'a', 'a', 'a'])
ds1.index.name = "Class"

print(ds1.groupby("Class").size())  # Includes everything.

print(ds1.groupby("Class").count()) # Counts only non-NA values

print(type(ds1.groupby("Class"))) # Counts only non-NA values

Class
a    6
b    3
dtype: int64
Class
a    5
b    2
dtype: int64
<class 'pandas.core.groupby.generic.SeriesGroupBy'>

In [91]:
import pandas as pd

sales2_df = pd.read_csv("Sales2.csv", index_col = "Country")

print(sales2_df)

for x,y in sales_df['Sales'].groupby(sales_df["Region"]):
    print(x, y)

         Region  Sales Manager  Age
Country
Scotland  North    100    John   45
Scotland  South    200    Paul   34
Scotland   East    250  George   54
Scotland   West    225   Ringo   23
England   North    170    Davy   52
England   South    450    Mike   35
England    East    600   Micky   42
England    West    220   Peter   31
Wales     North    340  Judith   23
Wales     South    400   Athol   22
Wales      East    270   Keith   53
Wales      West    420   Bruce   47
Ireland   North    540   Brian   39
Ireland   South    320  Dennis   27
Ireland    East    650    Mike   26
Ireland    West    240    Carl   44
East 2     250
6     600
10    270
14    650
Name: Sales, dtype: int64
North 0     100
4     170
8     340
12    540
Name: Sales, dtype: int64
South 1     200
5     450
9     400
13    320
Name: Sales, dtype: int64
West 3     225
7     220
11    420
15    240
Name: Sales, dtype: int64

In [128]:
import pandas as pd

ds1 = pd.Series([1,2,3,4], index = [['A', 'B', 'A', 'B'], ['x','x', 'x', 'y']])
ds1.index.names = ['L1', 'L2']

#print(ds1.groupby(['L1', 'L2']).count())

for (x,y), z in ds1.groupby(['L1', 'L2']):
    print(z)
#print(ds1)

L1  L2
A   x     1
    x     3
dtype: int64
L1  L2
B   x     2
dtype: int64
L1  L2
B   y     4
dtype: int64

In [8]:
# Column subsets

import pandas as pd

sales2_df = pd.read_csv("Sales2.csv", index_col = "Country")

print(sales2_df[["Sales",'Age']].groupby(sales2_df['Region']).mean())

         Sales    Age
Region
East    442.50  43.75
North   287.50  39.75
South   342.50  29.50
West    276.25  36.25

In [25]:
# Selecting Subsets of Columns

import pandas as pd
import numpy as np

df = pd.DataFrame({"key1":['a', 'a', None, 'b', 'b', 'a', None],
                   "key2": pd.Series([1,2,1,2,1,None,1]),
                   "data1": np.random.standard_normal(7),
                   "data2": np.random.standard_normal(7)})
# print(df)

# for x,y in df.groupby("key1"):
#     print(x)
#     print(y)
    
# for x in df.groupby("key1")['data1']:   # Series Groupby object
#     print(x)

print(df.groupby("key1")['data1'].mean())  # < -- don't use
print(df.loc[:, 'data1'].groupby(df.loc[:, "key1"]).mean())  # <- Longhand
print(df['data1'].groupby(df["key1"]).mean())                # <- Shorthand

print(df[['data1']["data2"]].groupby(df["key1"]).mean())

key1
a    0.025532
b    0.074402
Name: data1, dtype: float64
key1
a    0.025532
b    0.074402
Name: data1, dtype: float64
key1
a    0.025532
b    0.074402
Name: data1, dtype: float64

<>:23: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:23: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\Ian\AppData\Local\Temp/ipykernel_15220/243836815.py:23: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  print(df[['data1']["data2"]].groupby(df["key1"]).mean())

TypeError: list indices must be integers or slices, not str

In [6]:
import pandas as pd

sales_df = pd.read_csv("Sales2.csv", index_col = "Region")

print(sales_df[['Age', 'Sales']].groupby("Region").min())

print(sales_df[['Age', 'Sales']].groupby("Region").max())

print(sales_df[['Age', 'Sales']].groupby("Region").agg(['min', 'max']))

        Age  Sales
Region
East     26    250
North    23    100
South    22    200
West     23    220
        Age  Sales
Region
East     54    650
North    52    540
South    35    450
West     47    420
       Age     Sales
       min max   min  max
Region
East    26  54   250  650
North   23  52   100  540
South   22  35   200  450
West    23  47   220  420

In [11]:
import pandas as pd

def abovefifty(data):
    if data.max() > 50:
        return "Above 50"
    else:
        return "Below 50"
    
sales_df = pd.read_csv("Sales2.csv", index_col = "Region")

print(sales_df['Age'].groupby("Region").agg(['max', abovefifty]))

        max abovefifty
Region
East     54   Above 50
North    52   Above 50
South    35   Below 50
West     47   Below 50

In [20]:
import pandas as pd

def abovefifty(data, message = 'text'):
    if data.max() > 50:
        if message == 'text':
            return "Above 50"
        else:
            return True
    else:
        if message == 'text':
            return "Below 50"
        else:
            return False
    
sales_df = pd.read_csv("Sales2.csv", index_col = "Region")

print(sales_df['Age'].groupby("Region").agg(abovefifty, message = 'boolean'))
print(sales_df['Age'].groupby("Region").agg(abovefifty, message = 'text'))
print(sales_df['Age'].groupby("Region").agg(abovefifty))

Region
East      True
North     True
South    False
West     False
Name: Age, dtype: bool
Region
East     Above 50
North    Above 50
South    Below 50
West     Below 50
Name: Age, dtype: object
Region
East     Above 50
North    Above 50
South    Below 50
West     Below 50
Name: Age, dtype: object

In [28]:
import pandas as pd

def abovefifty(data):
    if data.max() > 50:
        return "Above 50"
    else:
        return "Below 50"
    
def abovefivehundred(data):
    if data.max() > 500:
        return "Above 500"
    else:
        return "Below 500"

sales_df = pd.read_csv("Sales2.csv", index_col = "Region")

print(sales_df[['Sales', 'Age']].groupby("Region").agg({'Sales':abovefivehundred, 'Age':abovefifty}))

# To customise the names:

print(sales_df['Age'].groupby("Region").agg([("Lowest",'min'), ("Highest", 'max'), ("Result", abovefifty)]))

            Sales       Age
Region
East    Above 500  Above 50
North   Above 500  Above 50
South   Below 500  Below 50
West    Below 500  Below 50
        Lowest  Highest    Result
Region
East        26       54  Above 50
North       23       52  Above 50
South       22       35  Below 50
West        23       47  Below 50

# Apply

In [33]:
import pandas as pd

def topn(df, n=5, column = 'tips_pct'):
    return df.sort_values(column, ascending=False)[:n]

df1 = pd.read_csv('tips.csv') 

df1['tips_pct'] = df1['tip'] / df1['total_bill']  # Add new column

print(df1.groupby('smoker').apply(topn))
print(df1.groupby('smoker').apply(topn, n=3))

print(df1.groupby('smoker').apply(topn, n=3, column='tip'))


# print(sales_df[['Age', 'Sales']].groupby("Region").apply(min))
# print(sales_df[['Age', 'Sales']].groupby("Region").agg(min))

# print(df1.groupby('smoker').apply(topn))
# print(df1.groupby('smoker').agg(topn)) # fails

            total_bill   tip smoker   day    time  size  tips_pct
smoker
No     232       11.61  3.39     No   Sat  Dinner     2  0.291990
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       88        24.71  5.85     No  Thur   Lunch     2  0.236746
Yes    172        7.25  5.15    Yes   Sun  Dinner     2  0.710345
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
            total_bill   tip smoker   day    time  size  tips_pct
smoker
No     232       11.61  3.39     No   Sat  Dinner     2  0.291990
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
Yes    172        7.25  5.15    Yes   Sun  Dinner     2  0.710345
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
            total_bill    tip smoker  day    time  size  tips_pct
smoker
No     212       48.33   9.00     No  Sat  Dinner     4  0.186220
       23        39.42   7.58     No  Sat  Dinner     4  0.192288
       59        48.27   6.73     No  Sat  Dinner     4  0.139424
Yes    170       50.81  10.00    Yes  Sat  Dinner     3  0.196812
       183       23.17   6.50    Yes  Sun  Dinner     4  0.280535
       214       28.17   6.50    Yes  Sat  Dinner     3  0.230742

# Describing Groups

In [34]:
df1 = pd.read_csv('tips.csv') 

print(df1.describe())

print(df1['total_bill'].groupby(df1['smoker']).describe())

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000
        count       mean       std   min     25%    50%     75%    max
smoker
No      151.0  19.188278  8.255582  7.25  13.325  17.59  22.755  48.33
Yes      93.0  20.756344  9.832154  3.07  13.420  17.92  26.860  50.81

# Quartile Information

In [37]:
import pandas as pd

df1 = pd.read_csv('tips.csv') 

quartiles = pd.qcut(df1['tip'], 4)

print(df1['tip'].groupby(quartiles).agg(['min', 'max', 'count']))

                min    max  count
tip
(0.999, 2.0]   1.00   2.00     78
(2.0, 2.9]     2.01   2.88     44
(2.9, 3.562]   2.92   3.55     61
(3.562, 10.0]  3.60  10.00     61

# Group Transforms

In [56]:
import pandas as pd
import numpy as np

df_test = pd.DataFrame({'key':['X', 'Y', 'Z'] * 4, 'value': np.arange(12.)})

print(df_test)

print(df_test['value'].groupby(df_test['key']).mean())

print(df_test['value'].groupby(df_test['key']).agg('mean'))
print(df_test['value'].groupby(df_test['key']).apply('mean'))


print(df_test['value'].groupby(df_test['key']).transform('mean'))

   key  value
0    X    0.0
1    Y    1.0
2    Z    2.0
3    X    3.0
4    Y    4.0
5    Z    5.0
6    X    6.0
7    Y    7.0
8    Z    8.0
9    X    9.0
10   Y   10.0
11   Z   11.0
key
X    4.5
Y    5.5
Z    6.5
Name: value, dtype: float64
key
X    4.5
Y    5.5
Z    6.5
Name: value, dtype: float64
key
X    4.5
Y    5.5
Z    6.5
Name: value, dtype: float64
0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [75]:
import pandas as pd

print(df1)
df1 = pd.read_csv('tips.csv') 
df1['tips_pct'] = df1['tip'] / df1['total_bill']  # Add new column

# print(df1[['day', 'smoker', 'size','tip','total_bill']].pivot_table(index=['day', 'smoker']))

# print(df1.pivot_table(index=['time', 'day'], columns = "smoker", values = ['tips_pct', 'size']))

# print(df1.pivot_table(index=['time', 'day'], columns = "smoker", values = ['tips_pct', 'size'], margins=True))

# print(df1.pivot_table(index=['time', 'day'], columns = "smoker", values = ['tips_pct', 'size'], aggfunc='count' ))

#print(df1.pivot_table(index=['time', 'day'], columns = "smoker", values = ['tips_pct', 'size'], aggfunc='count', fill_value=0 ))

# print(df1.pivot_table(index=['time', 'day'], columns = "smoker", values = 'size', aggfunc='count', margins=True))

     total_bill   tip smoker   day    time  size  tips_pct
0         16.99  1.01     No   Sun  Dinner     2  0.059447
1         10.34  1.66     No   Sun  Dinner     3  0.160542
2         21.01  3.50     No   Sun  Dinner     3  0.166587
3         23.68  3.31     No   Sun  Dinner     2  0.139780
4         24.59  3.61     No   Sun  Dinner     4  0.146808
..          ...   ...    ...   ...     ...   ...       ...
239       29.03  5.92     No   Sat  Dinner     3  0.203927
240       27.18  2.00    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75     No   Sat  Dinner     2  0.098204
243       18.78  3.00     No  Thur  Dinner     2  0.159744

[244 rows x 7 columns]
smoker          No   Yes  All
time   day
Dinner Fri     3.0   9.0   12
       Sat    45.0  42.0   87
       Sun    57.0  19.0   76
       Thur    1.0   NaN    1
Lunch  Fri     1.0   6.0    7
       Thur   44.0  17.0   61
All          151.0  93.0  244

In [60]:
import pandas as pd

df1 = pd.read_csv('tips.csv') 

df1['tips_pct'] = df1['tip'] / df1['total_bill']  # Add new column

print(df1.pivot_table(index=['time', 'day'], columns = "smoker", values = ['tips_pct', 'size'], aggfunc='count'))

print(df1.pivot_table(index=['time', 'day'], columns = "smoker", values = ['tips_pct', 'size'], 
                      aggfunc='count', fill_value=0))


# print(df1.pivot_table(index=['time', 'day'], columns = "smoker", values = 'size', aggfunc='count', margins=True))

             size       tips_pct
smoker         No   Yes       No   Yes
time   day
Dinner Fri    3.0   9.0      3.0   9.0
       Sat   45.0  42.0     45.0  42.0
       Sun   57.0  19.0     57.0  19.0
       Thur   1.0   NaN      1.0   NaN
Lunch  Fri    1.0   6.0      1.0   6.0
       Thur  44.0  17.0     44.0  17.0
            size     tips_pct
smoker        No Yes       No Yes
time   day
Dinner Fri     3   9        3   9
       Sat    45  42       45  42
       Sun    57  19       57  19
       Thur    1   0        1   0
Lunch  Fri     1   6        1   6
       Thur   44  17       44  17